<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Slide</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./favicon.ico">
    <!-- vuejsをローカルに保存して使用します -->
    <script src="./js/vue.js" defer></script>
    <script src="./js/main.js" defer></script>
</head>
<body>
    <main id="app">
        <section id="StartPage">
            <div v-if="!StartFlag">
                <nav id="StartStage">
                    <ul>
                        <li id="FreshImages" @click="FreshImages">Fresh Images</li>
                        <!-- <li id="ImageAddButton"><label for="ImageAddForm">Add Images</label></li> -->
                        <li id="ImageAddButton" @click="onImageUploaded">Add Images</li>
                        <li id="FullScreen" @click="StartSlide">Show Slide</li>
                        <li id="Setting" @click="SettingShow">Setting</li>
                    </ul>
                </nav>
                <!-- <input id="ImageAddForm" type="file" @change="onImageUploaded" multiple> -->
                <h2>GALLERY</h2>
                <ul id="ImageList" onContextmenu="return false;"></ul>
            </div>
        </section>
        <section id="Modal" v-if="SettingFlag">
            <div @click="SettingClose"></div>
            <ul @click="SettingShow">
                <li>
                    <label for="SlideSeconds">
                        Time to display on the screen<br>
                        ( min: {{MinSeconds}}s )
                    </label>
                    <input id="SlideSeconds" type="number" v-model="ViewSlideSeconds" @keyup.enter="SettingClose"> [s]
                </li>
            </ul>
        </section>
        <div v-if="StartFlag">
            <div id="MainPage" @click="ReleaseFullScreen">
                <div id="SlideBar"></div>
            </div>
        </div>
    </main>
    <footer><p> © 2022 National Institute of Technology Sendai College, Hirose Campus Library. All rights reserved.</p></footer>
</body>
</html>