<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Slide</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="favicon.ico">
    <script src="./js/vue.js" defer></script>
    <script src="./js/custom.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="StartPage">
            <div v-if="!StartFlag">
                <div id="StartStage">
                    <button id="FreshImages" @click="FreshImages">Fresh Images</button>
                    <label>Add Images<input id="ImageAddForm" type="file" @change="onImageUploaded" multiple></label>
                    <button id="FullScreen" @click="StartSlide">Show Slide</button>
                    <button id="Setting" @click="SettingShow">Setting</button>
                </div>
                <div id="Carousel"></div>
                <h2>GALLERY</h2>
                <ul id="ImageList">
                	<li style="border:0;list-style-type:none;">&nbsp;</li>
                </ul>
            </div>
        </div>
        <div id="Modal" v-if="SettingFlag">
            <div @click="SettingClose"></div>
            <ul @click="SettingShow">
                <li>
                    <label for="SlideSeconds">
                        Time to display on the screen<br>
                        ( min: 5s )
                    </label>
                    <input id="SlideSeconds" type="number" v-model="ViewSlideSeconds" @keyup.enter="SettingClose">
                    <span>[s]</span>
                </li>
                <!-- <li>
                    <button>Delete Image From Gallery</button>
                </li> -->
            </ul>
        </div>
        <div v-if="StartFlag">
            <div id="MainPage" @click="ReleaseFullScreen">
                <div id="SlideBar"></div>
            </div>
        </div>
    </div>
</body>
</html>